In [40]:
create table t (
    ID int identity(1000, 10) primary key, 
    val int,
)

In [41]:
insert into t (val)
values (1), (2), (3), (4), (5)

In [42]:
select * 
from t

ID,val
1000,1
1010,2
1020,3
1030,4
1040,5

In [43]:
select @@identity aaidentity; -- zwraca ostatni numer który został nadany w tej sesji

@@identity
1040

In [44]:
select @@identity aaidentity, IDENT_CURRENT('t') ident_current

aaidentity,ident_current
1040,1040

In [39]:
drop table t